
alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"){{alert.msg}}
header#banner.hero-unit
  h1.page-header Stock Sync
  .container
    #chart

.container
  .row
    .col-lg-12
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='stock in stockData')
        li
          a(href='#', tooltip='{{stock.name}}')
            | {{stock.code}}
            button.close(type='button', ng-click='deleteStock(stock)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new stock by symbol.', ng-model='newStock')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addStock()') Add New

footer.footer
  .container
    p
      | Andrew VanVlack 2015
      = ' | '
      a(href='https://twitter.com/avanvlack') @avanvlack
      = ' | '
      a(href='https://github.com/avanvlack/stock/issues?state=open') Issues
